In [1]:
from datetime import datetime
print(f'Päivitetty {datetime.now().date()} / Aki Taanila')

Päivitetty 2025-05-16 / Aki Taanila

# Dataframen muotoilua

Tämä Jypyter-notebook sisältää esimerkkejä dataframen muotoilusta **style**-ominaisuuden avulla.

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('http://taanila.fi/data1.xlsx')
df

,nro,sukup,ikä,perhe,koulutus,palveluv,palkka,johto,työtov,työymp,palkkat,työteht,työterv,lomaosa,kuntosa,hieroja
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN

In [4]:
# Luon listat, joita tarvitsen jatkossa:
koulutus = ['Peruskoulu', '2. aste', 'Korkeakoulu', 'Ylempi korkeakoulu']
sukup = ['Mies', 'Nainen']
tyytyväisyys = ['Erittäin tyytymätön', 'Jokseenkin tyytymätön', 'Ei tyytymätön eikä tyytyväinen', 
                'Jokseenkin tyytyväinen', 'Erittäin tyytyväinen']

In [5]:
# Frekvenssitaulukko ilman muotoilua:
df1 = pd.crosstab(df['koulutus'], 'f')
df1.index = koulutus
df1.columns.name = ''
df1['%'] = df1/df1.sum()*100
df1

                     f          %
Peruskoulu          27  33.333333
2. aste             30  37.037037
Korkeakoulu         22  27.160494
Ylempi korkeakoulu   2   2.469136

In [6]:
# Ristiintaulukointi ilman muotoilua:
df2 = pd.crosstab(df['koulutus'], df['sukup'], normalize='columns')
df2.index = koulutus
df2.columns = ['Mies', 'Nainen']
df2

                        Mies    Nainen
Peruskoulu          0.354839  0.263158
2. aste             0.370968  0.368421
Korkeakoulu         0.241935  0.368421
Ylempi korkeakoulu  0.032258  0.000000

In [7]:
# Tyytyväisyyksiä eri asiohin ilman muotoilua:

# Lasken prosentit value_counts()-toiminnolla ja muutan tuloksen dataframeksi
df3 = df['johto'].value_counts(normalize=True).sort_index().to_frame('johto')

df3['työtov'] = df['työtov'].value_counts(sort=False, normalize=True)
df3['työymp'] = df['työymp'].value_counts(sort=False, normalize=True)
df3['palkkat'] = df['palkkat'].value_counts(sort=False, normalize=True)
df3['työteht'] = df['työteht'].value_counts(sort=False, normalize=True)
df3.index = tyytyväisyys
df3.loc['Yhteensä'] = df3.sum()
df3

,johto,työtov,työymp,palkkat,työteht
Erittäin tyytymätön,0.085366,NaN,0.109756,0.402439,0.060976
Jokseenkin tyytymätön,0.195122,0.037037,0.109756,0.231707,0.182927
Ei tyytymätön eikä tyytyväinen,0.365854,0.197531,0.365854,0.231707,0.353659
Jokseenkin tyytyväinen,0.280488,0.432099,0.280488,0.121951,0.304878
Erittäin tyytyväinen,0.073171,0.333333,0.134146,0.012195,0.097561
Yhteensä,1.000000,1.000000,1.000000,1.000000,1.000000

## Puuttuvien arvojen muotoilu

Puuttuvien arvojen muotoilu sujuu **highlight_null**-funktiolla:

In [8]:
df.style.highlight_null(color='lightgreen')

Seuraavassa näytän **nan**-arvon sijasta väliviivan **-** käyttämällä **na_rep**-parametria. Samalla esitän arvot ilman desimaaleja **'{:.0f}'**.

In [9]:
df.style.format('{:.0f}', na_rep='-').highlight_null(color='lightgreen')

## Värien nimiä ja koodeja

Värien nimiä ja koodeja löydät esimerkiksi seuraavista lähteistä:

https://matplotlib.org/3.1.0/gallery/color/named_colors.html
 
https://www.w3schools.com/colors/colors_picker.asp

https://htmlcolorcodes.com/

## Maksimi- ja minimiarvojen korostus

Maksimi- ja minimiarvojen korostus onnistuu **highlight_max** ja **highlight_min** funktioilla. Seuraavassa muotoilen %-sarakkeen luvut yhteen desimaalin ja lisään perään välilyönnin ja %-merkin **'{:.1f} %'**.

In [10]:
df1.style.format({'%':'{:.1f} %'})\
         .highlight_max(color='lightgreen')\
         .highlight_min(color='violet')

Jos en määritä väriä, niin oletus on keltainen.

In [11]:
(df2*100).style.format('{:.1f} %').highlight_max()

Jos en halua kohdistaa menetelmää koko dataframeen, niin käytän **subset**-parametria. Esimerkiksi seuraavassa rajaan **highlight_max** muotoilun riveille alkaen 'Erittäin tyytymätön' ja päättyen 'Erittäin tyytyväinen'. Näin 'Yhteensä'-rivi jää muotoilun ulkopuolelle.

In [12]:
(df3*100).style.format('{:.1f} %', na_rep = '-')\
               .highlight_max(color='lightgreen', 
                              subset=pd.IndexSlice['Erittäin tyytymätön':'Erittäin tyytyväinen', :])

Edellä värjäsin sarakkeiden suurimmat. Rivien suurimmat saan lisäämälle **axis=1** -parametrin.

In [13]:
(df3*100).style.format('{:.1f} %', na_rep='-')\
               .highlight_max(color='gold', 
                              subset=pd.IndexSlice['Erittäin tyytymätön':'Erittäin tyytyväinen', :],
                              axis=1)

## Tiettyjen solujen muotoilu

Jos haluan muotoilla tietyt solut, niin muotoiluun käytän **set_properties**-funktiota, jonka avulla pääsen käyttämään **CSS**-tyyliohjeita (**CSS** eli Cascading Style Sheets on html-sivujen muotoiluun käytettävä tyyliohjeiden kokoelma).
Tyyliohjeet annan sanakirjana (dictionary) **'ominaisuus':'arvo'** pareina.

In [14]:
df1.style.format({'%':'{:.1f} %'})\
         .set_properties(**{'background-color':'navy', 'color' : 'white'},
                         subset = pd.IndexSlice['Korkeakoulu', '%'])

In [15]:
(df2*100).style.format('{:.1f} %')\
               .set_properties(**{'background-color':'navy', 'color':'white'},
                               subset = pd.IndexSlice['Peruskoulu':'2. aste', 'Mies'])\
               .set_properties(**{'background-color':'maroon', 'color':'white'},
                               subset = pd.IndexSlice['2. aste':'Korkeakoulu', 'Nainen'])

## Matplotlib-värikarttojen käyttö

Värikartoista voit lukea lisää:

https://matplotlib.org/3.3.3/tutorials/colors/colormaps.html

Voin käyttää värikarttaa ehdolliseen muotoiluun **background_gradient**-funktion avulla.

In [16]:
df1.style.format({'%':'{:.1f} %'}).background_gradient(cmap='Greens')

In [17]:
(df2*100).style.format('{:.1f} %').background_gradient(cmap='autumn')

In [18]:
(df3*100).style.format('{:.1f} %', na_rep='-').background_gradient(cmap='Blues')

## Pylväät solujen sisään

Voin piirtää solujen lukuarvoja kuvaavat pylväät **bar**-funktiolla.

In [19]:
(df3*100).style.format('{:.1f} %', na_rep='-')\
               .bar(subset=pd.IndexSlice['Erittäin tyytymätön':'Erittäin tyytyväinen', :],
                    color='aquamarine', 
                    align='zero')

## Lisätietoa

Data-analytiikka Pythonilla https://tilastoapu.wordpress.com/python/